
<form>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="usuario.email">
  </div>


  <div class="mb-3">
    <label for="senha" class="form-label">Senha</label>
    <input type="password" class="form-control" id="senha" name="senha" [(ngModel)]="usuario.senha">
  </div>

  <button type="submit" class="btn btn-primary" (click)="logar()">Logar</button>


  <div>
    <a [routerLink]="['/signin']">Criar conta</a>
  </div>


</form>
